{% extends "index.html" %}
{% block content %}

<div class="container">

    <h2 class="title-style-1">Matching Data<span class="title-under"></span></h2>
    <h1>{{Found}}</h1>
    <div class="container">

        <!-- <h2 class="title-style-1">My Updates for Missing <span class="title-under"></span></h2> -->
    
        <div class="row">
    
         
    
          <div class="col-md-3 col-sm-6">
    
            <div class="cause">
    
              <img src="{{data.Photo_Of_Child.url}}" height="200px" alt="" class="cause-img">
    
              <div class="progress cause-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
    
                </div>
              
              </div>
              <h4 class="cause-title"><a href="#">{{data.Child_Name}} </a></h4>
    
              <h4 class="cause-title">Found From: {{data.Missing_From}} </h4>
              <h4 class="cause-title">Found date: {{data.Missing_Date}}</h4>
    
              <div class="cause-details">
                 Description:  {{data.Description}} <br> Identification: {{data.Identification_Mark}}
                 <br><br>
                 If any information Please Call: {{data.Phone_number}} or inform nearst Police Station
              </div>
    
              <div class="btn-holder text-center">
             
                
              
    
              </div>
    
    
    
            </div> <!-- /.cause -->
    
          </div>
    
          
    
         
    
        </div>
    
      </div>

</div>

{% endblock %}